.linksContainer {
    background: #333333;
   
    width: 90%;
  margin: 0 auto;
    padding: 25px 50px;
   text-align: center;
}

.mainContainer {
    position: fixed;
    top: 0;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 80%;
}

.linksContainer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.linksContainer ul li {
    display: inline-block;
    margin-right: 15px;
}

.linksContainer ul li a{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.mainLogo {
    padding: 15px 0;
}

.mainLogo h1 {
    font-weight: 700;
    margin-bottom: 0;
    color: #ffffff;
}

.inputs {
    width: 35rem;
}

.mainNavBar nav{
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 780px) {
    .inputs {
        width: 100%;
    }
    .mainContainer, .linksContainer{
        width: 100%;
    }
}