

.slick-next {
  position: absolute !important;
  right: 20px !important;
  top: 50% !important;
  z-index: 9 !important;
}

.slick-prev {
  position: absolute !important;
  left: 20px !important;
  top: 50% !important;
  z-index: 9 !important;
}

.mainBannerContent {
  padding: 0 4rem;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .nav-item .btn {
    width: 100%;
    margin: 15px 0;
  }

  .nav-item .navbar-toggler-icon:first-child {
    display: none;
  }
}